---
---

@import "minimal-mistakes";

/* Minimal refinements only */

body {
  background-color: #000 !important;
}

.page {
  max-width: 1150px;
}

.page__content {
  font-size: 1.05rem;
  line-height: 1.8;
}
