---
---

@import "minimal-mistakes";

body {
  background-color: #000000 !important;
}

a {
  color: #ffffff !important;
}

a:hover {
  color: #aaaaaa !important;
}

.page__content,
.archive__item-excerpt,
.archive__item-title a {
  color: #e6e6e6 !important;
}
