---
---

@import "minimal-mistakes";

/* Dark mode override */

body {
  background-color: #000000;
}

a {
  color: #ffffff !important;
}

a:hover {
  color: #bbbbbb !important;
}

.page__content {
  color: #e5e5e5;
}

.site-title {
  color: #ffffff !important;
}

.archive__item-title a {
  color: #ffffff !important;
}
