<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
<script>
  MathJax = {
    tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
<header class="navbar">
  <div class="nav-container">
    <div class="logo">
      <a href="/">{{ site.title }}</a>
    </div>
    <nav>
      <a href="/">Posts</a>
      <a href="/projects/">Projects</a>
    </nav>
  </div>
</header>

<main class="content">
  {{ content }}
</main>

<footer class="footer">
  © 2026 {{ site.title }}
</footer>

</body>
</html>
